1. Cities in Sweden - create dataset (*)
Create this DataFrame from scratch:

Kommun	Population
0	Malmö	347949
1	Stockholm	975551
2	Uppsala	233839
3	Göteborg	583056
  a) Use your DataFrame to print out all the cities. (*)

  b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

  c) Sort the cities by population from largest to smallest. (*)

  d) Filter out the three largest cities. (*)

  e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [5]:
import pandas as pd

kommun = pd.Series(["Malmö", "Stockholm", "Uppsala", "Göteborg"])
population = pd.Series([347949, 975551, 233839, 583056])

df_cities = pd.DataFrame({"Kommun": kommun, "Population": population})
df_cities

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [65]:
# skapa en DataFrame genom dictionary (keys:value);

df_dictionary = {"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347949, 975551, 233839, 583056]}
df_dictionary = pd.DataFrame(data=df_dictionary)
df_dictionary

# smartare/lättare sätt att göra det på?

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

# a) 
Use your DataFrame to print out all the cities. (*)

In [14]:
df_cities["Kommun"]

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

# b) 
Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

In [47]:
# retunerar True eller False, beroende på ifall raden har "Göteborg" i sig. Måste vara exakt.
# dvs. går inte att skriva:
#   df_cities["Kommun"] == "a"
# och få ut något. Denna letar efter en rad som är exakt '==' lika med 'Göteborg'

df_cities["Kommun"] == "Göteborg"

0    False
1    False
2    False
3     True
Name: Kommun, dtype: bool

In [44]:
df_cities[df_cities["Kommun"] == "Göteborg"]

     Kommun  Population
3  Göteborg      583056

In [22]:
# Ett annat sätt att göra uppgiften på. Detta är inte "korrekt" då jag inte har använt mig av "Göteborg".
# Här accessar jag istället raden som "Göteborg" ligger på, dvs. rad 3 med hjälp av '.loc'.
# Förstår inte skillnaden just nu mellan '.loc' och '.iloc'.

df_cities.loc[[3]]
#df_cities.iloc[[3]]

     Kommun  Population
3  Göteborg      583056

# c) 
Sort the cities by population from largest to smallest. (*)

In [39]:
# Skapar en ny variabel, 'df_sorted_descending'.
# använder '.sort_values()' för att sortera 'df_cities'.
# '.sort_values()' tar emot olika argument att sortera efter, str | list
# default är ascending order, alltså lågt -> högt
# sätter ascending=False för att få motsatta.
# '.sort_values()' retunerar en DataFrame. 
df_sorted_descending = df_cities.sort_values(by=["Population"], ascending=False)
df_sorted_descending

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

# d) 
Filter out the three largest cities. (*)

In [41]:
# går att använda '.tail()' på flera olika sätt, kolla dokumentationen.
# i detta exemplet har jag använt den för att filtrera bort dem 3 första raderna, dvs filtrera bort dem tre största komunerna.
df_sorted_descending.tail(-3)

    Kommun  Population
2  Uppsala      233839

# e) 
The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [61]:
# Note: the length of your list should match the length of the index column otherwise it will show an error. 
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/

# Skapar en ny kolumn, 'Population %'.
# Genom att ta ["Population"] så kan jag räkna med antalet folkmängd i varje Kommun.
# I detta fallet vill jag ha folkmängden i % genom att dela populationen med den totala populationen i Sverige.
# Multiplicerar med *100 för att få snyggare utskrift samt avrundar '.round(1)' till en decimal. 

df_sorted_descending["Population %"] = (df_cities["Population"] / 10379295*100).round(1)
df_sorted_descending

      Kommun  Population  Population %
1  Stockholm      975551           9.4
3   Göteborg      583056           5.6
0      Malmö      347949           3.4
2    Uppsala      233839           2.3