# Uppgifter
* `Alla grafer ska exporteras till en undermapp som heter _Visualiseringar_ i din mapp för labben.`
* `Exportera matplotlib/seaborngrafer i png-format och plotly-grafer som html-filer.`
* `Ge relevanta namn till dina filer så det blir lätt att referera till dem.`
* `Notera att du behöver ställa in bakgrundsfärg när du sparar matplotlibgrafer, annars blir de transparenta och svåra att läsa.`

# Uppgift 1
* Börja med att manuellt läsa Excel-filerna och de olika bladen i varje dokument. Använd därefter Pandas för
att läsa in bladet: "Veckodata Riket" i covid19-filen.

In [14]:
import pandas as pd
import seaborn as sns
import plotly_express as px
import matplotlib.pyplot as plt

df_covid19 = pd.read_excel("../Data/Folkhalsomyndigheten_Covid19.xlsx", sheet_name = "Veckodata Riket")
#df_covid19.value_counts()

In [3]:
df_covid19.tail()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
138,2022,39,13532,130,175,2599038,25041,17,9510,94,9.1,20405,1965.900024
139,2022,40,3999,39,169,2603037,25079,20,9530,98,9.4,20503,1975.400024
140,2022,41,3408,33,72,2606445,25112,15,9545,94,9.1,20597,1984.400024
141,2022,42,3278,32,65,2609723,25144,20,9565,70,6.7,20667,1991.199951
142,2022,43,3502,34,66,2613225,25177,14,9579,37,3.6,20704,1994.699951

In [4]:
df_covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              143 non-null    int64
 1   veckonummer                     143 non-null    int64
 2   Antal_fall_vecka                143 non-null    int64
 3   Antal_fall_100000inv_vecka      143 non-null    int64
 4   Antal_fall_100000inv_14dagar    143 non-null    int64
 5   Kum_antal_fall                  143 non-null    int64
 6   Kum_fall_100000inv              143 non-null    int64
 7   Antal_nyaintensivvårdade_vecka  143 non-null    int64
 8   Kum_antal_intensivvårdade       143 non-null    int64
 9   Antal_avlidna_vecka             143 non-null    int64
 10  Antal_avlidna_milj_inv_vecka    143 non-null    float64
 11  Kum_antal_avlidna               143 non-null    int64
 12  Kum_antal_avlidna_milj_inv      143 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 14.6 KB

In [5]:
df_covid19.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,143.000000,143.000000,143.000000,143.000000,143.000000,1.430000e+02,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000,143.000000
mean,2020.965035,26.153846,18274.300699,176.195804,352.153846,1.135693e+06,10943.510490,66.986014,6028.790210,144.783217,13.984615,12381.041958,1193.605589
std,0.799759,14.249442,38453.510497,370.571566,723.518879,9.664583e+05,9309.894482,73.195665,3084.134001,173.014008,16.734208,6123.669647,589.225121
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,3080.000000,30.000000,60.500000,1.028910e+05,996.000000,14.000000,2648.500000,27.000000,2.600000,5884.000000,569.750000
50%,2021.000000,26.000000,5442.000000,52.000000,107.000000,1.087272e+06,10475.000000,28.000000,7565.000000,82.000000,7.900000,14619.000000,1408.500000
75%,2022.000000,38.000000,20968.000000,202.000000,419.500000,2.437980e+06,23489.000000,109.000000,8907.000000,181.000000,17.500000,17427.500000,1679.049988
max,2022.000000,53.000000,265043.000000,2554.000000,5024.000000,2.613225e+06,25177.000000,289.000000,9579.000000,664.000000,64.300003,20704.000000,1994.699951

In [9]:
df_covid19.head()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0

# b)
* Slå ihop kolumnerna "år" och "veckonummer" till en kolumn med namn "Vecka" med följande format:

In [15]:
# on column 0, create column "Vecka", fill every row with "år" + "v" + "veckonummer" -> format: "yyyyvw", -> example: "2020v6"
# also made sure to convert everything to str
df_covid19.insert(0, "Vecka", df_covid19["år"].astype(str) + 'v' + df_covid19["veckonummer"].astype(str))

# need to drop the column "år" and "veckonummer" from the dataframe.
df_covid19.drop(columns=["år", "veckonummer"], inplace=True)
df_covid19

,Vecka,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020v6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020v7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020v8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020v9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020v10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
138,2022v39,13532,130,175,2599038,25041,17,9510,94,9.1,20405,1965.900024
139,2022v40,3999,39,169,2603037,25079,20,9530,98,9.4,20503,1975.400024
140,2022v41,3408,33,72,2606445,25112,15,9545,94,9.1,20597,1984.400024
141,2022v42,3278,32,65,2609723,25144,20,9565,70,6.7,20667,1991.199951
142,2022v43,3502,34,66,2613225,25177,14,9579,37,3.6,20704,1994.699951

Korrekt format:

In [17]:
df_covid19["Vecka"]

0       2020v6
1       2020v7
2       2020v8
3       2020v9
4      2020v10
        ...
138    2022v39
139    2022v40
140    2022v41
141    2022v42
142    2022v43
Name: Vecka, Length: 143, dtype: object